@import "mixins";
@import "params";

.second-screen {
    @include screen-position;

    &__projects {
        position: relative;
        width: $contentscreen-width;
        height: $sc-projects-height;
        @include flex-center-column;

        .projects__header {
            width: $contentscreen-width;
            height: $screen-header-height;
            @include flex-center-row;

            .header__logo {
                padding-right: 2%;
            }

            .header__title {
                @include screen-header-font;
            }

            .header__sliderbtns {
                @include flex-center-row;
                margin-left: auto;

                .sliderbtns__btn {
                    width: $sc-header-btn-width-height;
                    height: $sc-header-btn-width-height;
                    background: transparent;
                    border: 2px solid $header-bg;
                    transition: background .25s ease, color .25s ease, box-shadow .15s ease;

                    &:hover {
                        background: darken($color: $header-bg, $amount: 15);
                    }
                }
            }
        }

        .projects__slider {
            @include flex-center-row;

            .slider__slide {
                position: relative;
                width: $contentscreen-width;
                height: $sc-projects-slider-height;

                .slide__bg {
                    position: absolute;
                    top: 0px;
                    z-index: 1;
                    width: 100%;
                    height: $sc-projects-slider-height;
                }

                .slide__description {
                    position: absolute;
                    z-index: 2;
                    top: 545px;
                    left: 850px;
                    height: $sc-projects-sliderdesc-height;
                    width: $sc-projects-sliderdesc-width;
                    @include flex-center-column;
                    align-items: flex-start;
                    background-color: $header-bg;

                    .description__header {
                        @include screen-content-h1;
                        font-size: 18px;
                    }

                    .description__text {
                        @include screen-content-p;
                    }
                }
            }
        }
    }
}