@import "mixins";
@import "params";

.third-screen {
    @include screen-position;

    &__catalog {
        @include screen-content-position;
        height: $tc-catalog-height;
        justify-items: space-between;

        .catalog__header {
            width: $contentscreen-width;
            height: $screen-header-height;
            @include flex-center-row;

            .header__logo {
                padding-right: 2%;
            }

            .header__title {
                @include screen-header-font;
            }
        }

        .catalog__brand {
            @include clear;
            @include flex-center;
            width: 100%;
            height: $tc-catalog-categories-list-height + 25;

            .brand__list {
                @include clear;
                @include flex-center-row;
                height: $tc-catalog-categories-list-height;

                .list__item {
                    @include flex-center;
                    @include screen-content-p(20px);
                    text-decoration: none;
                    width: $tc-catalog-list-item-width;
                    height: $tc-catalog-list-item-height;
                    background: $header-bg;
                    margin: 3px;
                    border: none;
                    transition: background .25s ease, color .25s ease, box-shadow .15s ease;

                    &:hover {
                        background: darken($color: $header-bg, $amount: 15);
                    }
                }
            }
        }

        .catalog__products {
            @include flex-center-row;
            justify-content: space-between;
            width: 100%;

            .products__item {
                position: relative;
                width: $tc-catalog-product-item-width;
                height: $tc-catalog-product-item-height;

                .item__photo {
                    position: absolute;
                    background: rgba($color: #dddddd, $alpha: 0.2);
                    top: 0px;
                    z-index: 1;
                    width: 100%;
                    height: $tc-catalog-product-item-height;
                }

                .item__description {
                    position: absolute;
                    z-index: 2;
                    top: $tc-catalog-product-item-height - $tc-catalog-product-item-desc-height;
                    height: $tc-catalog-product-item-desc-height;
                    width: $tc-catalog-product-item-desc-width;
                    align-items: flex-start;
                    background-color: $header-bg;
                    padding-left: 10px;
                    @include screen-header-font(18px);
                    @include flex-center;
                    line-height: 27px;
                    color: $main-textcolor-1;
                }
            }
        }
    }
}