// Сброс внутренних и внешних отступов.
@mixin clear {
    margin: 0;
    padding: 0;
}

// Очистка элементов списка
@mixin clear-list {
    @include clear();
    list-style: none;
}

// Центрирование по вертикали и горизонтали Флексом
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-top {
    align-items: flex-start;
}

// Центрирование по вертикали и горизонтали Флексом Столбецов
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

// Центрирование по вертикали и горизонтали Флексом Строк
@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

// Настройки шрифтов
@mixin screen-header-font {
    font-family: Oswald;
    font-size: 30px;
    line-height: 44px;
    color: $main-textcolor-2; //black
    text-transform: uppercase;
}

@mixin openSans-white {
    font-family: Open Sans;
    color: $main-textcolor-1;
}

@mixin screen-content-h1 {
    @include openSans-white;
    font-size: 48px;
}

@mixin screen-content-p {
    @include openSans-white;
    font-size: 14px;
}

@mixin screen-position {
    margin-top: 45px;
    position: relative;
    width: 100%;
    overflow: hidden;
    @include flex-center;
}